<h1>Manage Customers</h1>

<a href="/admin/customers/create" class="btn-create" style="float: right">+ Create New</a>

<table id="customers">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Product</th>
      <th>Day</th>
      <th>Cleaner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each customersObj}}
    <tr>
  <td>{{this.first_name}}</td>
  <td>{{this.last_name}}</td>
  <td>{{this.product.name}}</td>
  <td>{{this.schedule}}</td>
  <td>{{this.employee.first_name}}</td>
  <td>
    <a href="/admin/customers/view/{{this.id}}" class="btn-view">View</a>
    <a href="/admin/customers/edit/{{this.id}}" class="btn-edit">Edit</a>
  </td>
</tr>
    {{/each}}
  </tbody>
</table>
