
<h1>Manage Employees</h1>

<a href="/admin/employees/create"><button>+ Create New</button></a>

<table id="employees">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- data inserted here -->
    {{#each employees}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.first_name}}</td>
      <td>{{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.role}}</td>
      <td><a href="/admin/employees/edit/{{this.id}}"><button>Edit</button></a></td>
    </tr>
    {{/each}}

  </tbody>
</table>