
<h1>Records</h1>

<form id="searchFilters" action="/admin/records/" method="get">
    <div>
        <label for="dateAfter">Date After:</label>
        <input type="date" id="dateAfter" value="2000-01-01" name="dateAfter">
    </div>
    <div>
        <label for="dateBefore">Date Before:</label>
        <input type="date" value="2099-01-01" id="dateBefore" name="dateBefore">
    </div>
    <div>
        <label for="filterByCustomer">Filter by Customer:</label>
        <select id="filterByCustomer" name="filterByCustomer">
            <option value="any">Any</option>
            {{#each customers}}
              <option value="{{this.id}}">{{this.first_name}} {{this.last_name}} ({{this.id}})</option>
            {{/each}}
        </select>
    </div>
    <div>
    <fieldset>
      <span>Include:</span>
      <label><input type="checkbox" id="includeService" name="includeService" value="service" checked> Service</label>
      <label><input type="checkbox" id="includeExpense"name="includeExpense" value="expense" checked> Expense</label>
      <label><input type="checkbox" id="includeInvoice"name="includeInvoice" value="invoice" checked> Invoice</label>
      <label><input type="checkbox" id="includePayment"name="includePayment" value="payment" checked> Payment</label>
    </fieldset>
    </div>
    

    <div>
        <button type="submit">Search</button>
    </div>
</form>

<hr>
<table id="records">
  <tr>
    <th>Date </th>
    <th>Customer ID</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Invoice ID</th>
  </tr>

  {{#each allRecords}}
  <tr>
    <td>{{format_date this.date}}</td>
    <td><a href="/admin/customers/view/{{this.customer_id}}">{{this.customer_id}}</a></td>
    <td>{{this.type}}</td>
    <td>{{this.amount}}</td>
    <td><a href="/admin/invoices/view/{{this.invoice_id}}">{{this.invoice_id}}</a></td>
  </tr>
  {{/each}}
</table>

<script>
  let searchObj = JSON.parse('{{{searchObj}}}');
  document.getElementById('dateAfter').value = searchObj.dateAfter;
  document.getElementById('dateBefore').value = searchObj.dateBefore;
  document.getElementById('filterByCustomer').value = searchObj.filterByCustomer;
  
  if (!searchObj.includeService) document.getElementById('includeService').checked = false;
  if (!searchObj.includeExpense) document.getElementById('includeExpense').checked = false;
  if (!searchObj.includeInvoice) document.getElementById('includeInvoice').checked = false;
  if (!searchObj.includePayment) document.getElementById('includePayment').checked = false;
</script>