<h1>Create New User</h1>

<table>
  <tr>
    <td><span>Username</span></td>
    <td><input type="text" id="username"/></td>
  </tr>
  <tr>
    <td><span>Password</span></td>
    <td><input type="text" id="password"/></td>
    <td><button onclick="generatePassword()">Generate</button></td>
  </tr>
  <tr>
    <td><span>User Type</span></td>
    <td>
      <select id="access_level">
        <option value="customer">Customer</option>
        <option value="employee">Employee</option>
        <option value="admin">Admin</option>
      </select>
    </td>
  </tr>

  <tr id="employeeRow" style="display:none">
    <td><span>Employee</span></td>
    <td>
      <select id="employee_id">
        {{#each employees}}
          <option value="{{this.id}}">{{this.last_name}}, {{this.first_name}}</option>
        {{/each}}
      </select>
    </td>
  </tr>

  <tr id="customerRow" style="display:contents">
    <td><span>Customer</span></td>
    <td>
      <select id="customer_id">
        {{#each customers}}
          <option value="{{this.id}}">{{this.last_name}}, {{this.first_name}}</option>
        {{/each}}
      </select>
    </td>
  </tr>


</table>
<button id="submit" onclick="createUser()">Save</button>
<a href="/admin/users"><button id="cancel">Cancel</button></a>

<script>
document.getElementById("access_level").addEventListener('change', (event) => {
  if (event.target.value == "customer") {
    // change display
    document.getElementById("customerRow").style.display = "contents"
    document.getElementById("employeeRow").style.display = "none"

  }
  else {
    // change display
    document.getElementById("customerRow").style.display = "none"
    document.getElementById("employeeRow").style.display = "contents"
  }
})

</script>
<script src="/js/admin-users.js"></script>