<h1>Manage Users</h1>

<a href="/admin/users/create" style="float: right" class="btn">+ Create New</a>

<table id="users">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.username}}</td>
      <td>{{this.name}}</td>
      <td>{{this.access_level}}</td>
      <td><a href="/admin/users/edit/{{this.id}}" class="btn-edit">Edit</a>
      
      <a href="javascript:void(0);" onclick="emailCredentials({{this.id}})" class="btn-view">Email Login</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>