<h1>Sunnyside Pools</h1>
<br>    
<h2>Welcome {{userData.first_name}}</h2>
<div>
    <h3>My Information</h3>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Available Days</th>
        </tr>
        <tr>
            <td>{{userData.employee_id}}</td>
            <td>{{userData.first_name}}</td>
            <td>{{userData.last_name}}</td>
            <td>{{userData.email}}</td>
            <td>{{userData.role}}</td>
            <td>{{userData.available_days}}</td>
        </tr>
    </table>
</div>