<h1>Sunnyside Pools</h1>
<br>    
<h2>Welcome {{userData.first_name}}</h2>
<div>
    <h3>My Information</h3>
    <p>Employee ID: {{userData.employee_id}}</p>
    <p>First Name: {{userData.first_name}}</p>
    <p>Last Name: {{userData.last_name}}</p>
    <p>Email: {{userData.email}}</p>
    <p>Phone: {{userData.phone}}</p>
    <p>Role: {{userData.role}}</p>
    <p>Location: {{userData.location}}</p>
</div>