<h1>{{customer}} Invoices</h1>
<hr>

<table>
{{#each allRecords }}
    <tr>
        <td>{{format_date this.date}}</td>
        <td>{{customer.first_name}} {{customer.last_name}}</td>
        <td><a href="/customer/view/{{this.id}}">View invoice</a></td>
        <td>{{this.customer_id}}</td>
        <td>{{this.id}}</td>
    </tr>
{{/each}}
</table>
<br>
 <center>(payments not currently accepted through app) </center>